<div class="row">

  <!-- Blog Entries Column -->
  <div class="col-md-9">
    <h1 class="my-4 jumbotron">
      Welcome Guest!

      <small>
        <p>This is a simple blog app with CRUD functionalities</p>
      </small>
    </h1>
    {{#each posts}}
    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-header mb-1">
        <h2 class="card-title">{{title}}</h2>
      </div>
      <img class="card-img-top" src="{{file}}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{body}}</p>
        <a href="/blogpost/{{slug}}" class="btn btn-primary">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Posted on {{generateDate date 'MMM Do YYYY'}}
      </div>
    </div>
    {{/each}}


    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">


      {{#paginate current = current pages = pages}}



      {{/paginate}}

    </ul>

  </div>

  <!-- Sidebar Widgets Column -->
  {{> home/sidebar }}

</div>
<!-- /.row -->